
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #545F7D;
@media(max-width:586px){
    display: grid;
    justify-content: center;
    #select-div {
        padding-left: 2rem;
    }
}
    #select-div {
    letter-spacing: 0.3px;
        display: flex;
        font-weight: 400;
        font-size: 14px;
    }
    #select {
        margin: -3px 7px 0 7px;
        padding: 0 10px;
        font-weight: 500;
        height: 1.6rem;
        background-color: #545f7d41;
        border: none;
        border-radius: 4px;
    }
    #pages {
    display: flex;
    align-items: center;
    gap: 8px;
    #active{
    color: #1b367e;
    font-weight: bold;
    }
    button {
        border: none;
        cursor: pointer;
        background-color: inherit;
    }
}
}