.user-table {
    color: #545F7D;
    height: auto;
    border: 0.05px rgba(128, 128, 128, 0.233) solid;
    box-shadow: 1px 1px 4px 5px rgba(128, 128, 128, 0.055);
    border-radius: 4px;
    margin: 2rem 0;
    text-align: start;
    width: 60.6rem;
    // width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 0rem;
    a {
        text-decoration: none; 
        color: inherit; 
        cursor: pointer;
        margin: 0;
        padding: 0;
      }
}
.user-table-container {
    width: 100%;
    overflow-x: scroll;
}

.table-head {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 600;
    span {
        font-weight: 600;
    }
    th {
    display: flex;
    align-content: center;
    gap: 0.4rem;
    }
}


.user-table, thead, tbody {
    white-space: nowrap;
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    font-size: 13.5px;
    letter-spacing: 0.6px;
    font-weight: 400;
    letter-spacing: 0.1px;
    // gap: 1.2rem;
    span {
        font-size: 12px;
        font-weight: 600;
    }
}
#liner {
    color: #545F7D;
    height: 0.01px;
    width: 95%;
    opacity: 40%;
    padding-bottom: 0rem;
}

#Inactive,
#Pending,
#Blacklisted,
#Active {
    border-radius: 1rem;
    text-align: center;
    padding: 5px;
}
#Blacklisted{
    background-color: #e4033b21;
    color: #E4033B;
}
#Active{
    background-color: #39cd6321;
    color: #39CD62;
}
#Pending{
    background-color: #e9b30021;
    color: #E9B200;
}
#Inactive{
    background-color: #545f7d21;
    color: #545F7D;
}