.home {
    display: flex;
    overflow-y: hidden;
    height: 43rem;
}
.user-main {
    position: relative;
    margin: 1rem 3rem;
    letter-spacing: 1px;
    width: 65.6rem;
    height: 40rem;
    overflow-y: scroll;
    // overflow-x: hidden;
    @media(max-width:940px){
    position: absolute;
    z-index: 0;
    width: 90%;
    margin: 1rem 2rem;
    box-sizing: border-box;
    }
}