
body {
  font-family: Work Sans, Avenir Next, sans-serif,Roboto, poppins;
  letter-spacing: 0.1rem;
  width: 100vw;
  height: 100%;
  margin: 0;
}

a,
html {
  scroll-behavior: smooth;
  font-size: 100%;
}
/* html {
  @media(max-width:1200px) {
    font-size: 30%;
}
} */
  /* html {
@media (max-width:75rem) {
      font-size: 79%;
  }
@media (max-width:63rem) {
    font-size: 68%;
}
@media (max-width:47rem) {
  font-size: 60%;
}
} 
  html {
@media (max-width: 75rem) {
    font-size: 56.25%;
  }
  @media (max-width: 59rem) {
    font-size: 50%;
  }

}*/