
body {
  font-family: Work Sans, Avenir Next, sans-serif,Roboto, poppins;
  letter-spacing: 0.1rem;
  width: 100vw;
  height: 100%;
  margin: 0;
}

a,
html {
  scroll-behavior: smooth;
  font-size: 100%;
}
